<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 
</div>



<input type="text" size="40" #localR>
<button (click)="passLocalRHandler(localR)">click me</button>
<hr/>
<app-servers [name]="myname" *ngFor="let i of [{serverId:23,serverName:'Apache',activated:true},{serverId:53,serverName:'NgX',activated:false}]; let indx = index" [info]="i" (serverEE)="onTestHandler($event)">

 **INSIDE {{indx}}
 <div #contentR>this is content child element</div>
</app-servers>
<hr/>
<app-numbers>
</app-numbers>
<br/>
<h2>END OF TEMPLATE PAGE</h2>

<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">home</a> |
<a routerLink="/help" routerLinkActive="active">help</a>

<router-outlet></router-outlet>
